html {
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Noto Serif', serif;
  color: #605D5D;
  padding-left: 100px;
  padding-right: 100px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
}

.full-band {
  float:left;
  padding-right: 35px;
  padding-bottom: 10px;
}

.headshots {
  float:right;
  margin-bottom: 150px;
  padding-left: 100px;
}

.band-bullets {
  padding-right: 500px;
}

.whats-mipso-copy {
  position: relative;
  left: 30px; 
}
