body {
  font-family: 'Noto Serif', serif;
  color: #605D5D;
  padding-left: 100px;
  padding-right: 100px;
}

img, table {
  max-width: 100%;
  height: auto;
}

nav {
  font-family: 'Raleway', sans-serif;
  color: #D8D8D8;
  font-size: 16pt;
  float: right;
  padding-top: 50px;
}

.about-banner {
    background: url(./images/about/about-hero.) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    height: auto;
  }

.section-title {
  font-family: 'Raleway', sans-serif;
}

.about-summary {
  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

.full-band {
  float:left;
  padding-top: 70px;
  padding-right: 35px;
  padding-bottom: 10px;
}

.headshots {
  float:right;
  padding-left: 100px;
}

.band-bullets {
  max-width: 100%;
  height: auto;
}

.whats-mipso-copy {
  position: relative;
  left: 30px;
}

table {
  width: 100%;
  padding-top: 25px;
  border-spacing: 0 15px;
}

th {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding-bottom: 20px;
}

a:link {
  text-decoration: none;
  color: #605d5d;
}

a:visited {
  text-decoration: none;
  color: #605d5d;
}

.buy-now {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #D8D8D8;
    width: 220px;
    height: 45px;
}

.table-content {
  font-family: font-family: 'Noto Serif', serif;
}

.tour-dates-announced-box {
  width: 335px;
  text-align: center;
  border: 5px solid #605D5D;
  margin: auto;
  margin-top: 65px;
}

.date {
  padding-right: 50px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}
