/* html.index {
  height: 100%;
  background: url(../images/home-hero.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
} */

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.navbar .nav > li > a  {
  color: #D8D8D8;
}

.navbar .nav > li > a:hover  {
  color: #FFF;
}

.navbar.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}

.navbar-brand img{
    max-width: 200px;
    max-height: 100px;
    padding-bottom: 15px;
  }

.navbar-right {
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
}
